.card_image {
    -webkit-transform: translate(142%) rotate(90deg);
    -moz-transform: translate(142%) rotate(90deg);
    -ms-transform: translate(142%) rotate(90deg);
    -o-transform: translate(142%) rotate(90deg);
    transform: translate(142%) rotate(90deg);

    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

.plane {
    width: 80%;
}