* {
    font-family: Helvetica, Arial, sans-serif;
}

.card_image {
    position: absolute;
    top: 3vw;
    left: 0;
    right: 0;

    -webkit-transform: translate(142%) rotate(90deg);
    -moz-transform: translate(142%) rotate(90deg);
    -ms-transform: translate(142%) rotate(90deg);
    -o-transform: translate(142%) rotate(90deg);
    transform: translate(142%) rotate(90deg);

    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    height: 2vw;

    text-decoration: none;
    color: white;
}

button.button {
    background-color: rgb(82, 186, 179);
    border-radius: 6px;
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-transform: uppercase;
    width: 200px;
    cursor: pointer;
}

.container {
    position: relative;
    width: 100%;
    display: flex;
}

.plane {
    width: 80%;
}

.top_element {
    text-align: center;
    width: 30%;
    font-size: 2.2vw;
    background-color: rgb(82, 186, 179);
    border-radius: 6px;
    border: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    cursor: pointer;
    margin: 1px;
}

.top_output {
    text-align: center;
    width: 30%;
    font-size: 2.2vw;
    border: solid 3px rgb(82, 186, 179);
    border-radius: 6px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    margin: 1px;
}

.invert {
    height: 3vh;
}