* {
    box-sizing: border-box;
}

*:before,*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
    font-family: Helvetica, Arial, sans-serif;
}

body, td, th, input, textarea, select, a {
    font-size: 16px;
}

.container {
    padding: 0 15px;
}

.main-menu {
    margin: 0 0 30px;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    list-style: none;
}

.main-menu-item {
    margin: 0 10px 0 0;
}

.main-menu-item:last-child {
    margin: 0;
}

.main-menu-link {
    padding: 15px 30px;
    border-radius: 6px;
    display: block;
    background-color: #52bab3;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.main-menu-link:hover, .main-menu-link:active, .main-menu-link:focus  {
    text-decoration: none;
}

.container-image {
    display: flex;
    justify-content: center;
}

.img-responsible {
    display: block;
    max-width: 100%;
    height: auto;
}

.main-menu-item-output {
    border: solid 3px rgb(82, 186, 179);
    border-radius: 6px;
    color: rgb(0, 0, 0);
}