{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Planechase Assistant</title>
    <link rel="stylesheet" href="{% static 'css/stylesheet.css'%}" type="text/css">
</head>
<body>
    <div class="plane">
        {% if not error %}
            <div class="rotate_image">
                <img src ="{{ image_url }}" alt="Plane picture">
            </div>
        {% else %}
            <div>
                {{ error }}
            </div>
        {% endif %}
        <div>
            <button class="planechase" formaction="{{ request.path }}?random=true">
                Planechase
            </button>
        </div>
    </div>
</body>

{% endblock %}