{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Planechase Assistant</title>
    <link rel="stylesheet" href="{% static 'css/stylesheet.css'%}" type="text/css">
</head>
<body>
    <div class="container">
        <div class="plane">
            <div class="card_image">
                {% if not error %}
                    <img src ="{{ image_url }}" alt="Plane picture" class="rotate_image">
                {% else %}
                    <div>
                        {{ error }}
                    </div>
                {% endif %}
            </div>
            <div>
                <a href="?random=true" class="button">Planechase</a>
            </div>
        </div>
    </div>
</body>
{% endblock %}