{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Planechase Assistant</title>
    <link rel="stylesheet" href="{% static 'css/stylesheet.css'%}" type="text/css">
</head>
<body>
    <div class="container">
        <div class="top_element">
            <a href="?random=true" class="button">Planeswalk</a>
        </div>
        <div class="top_element">
            <button class="button" id="dice">Roll a dice</button>
            <script src="{% static 'js/dice.js'%}"></script>
        </div>
        <div class="top_element" id="placeholder">
        </div>
        <div class="plane">
            <div>
                {% if not error %}
                    <img src="{{ image_url }}" alt="Plane picture" class="card_image">
                {% else %}
                    <div>
                        {{ error }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</body>
{% endblock %}